body {
    background-color: rgb(47, 47, 221);
}
nav {
    display: flex;
}
nav a {
    margin-left: 15%;
    text-decoration: none;
    color: aliceblue;
    border: 3px solid rgb(0, 0, 0); 
    border-radius: 100px;          
    padding: 20px;
    box-sizing: border-box;     
    box-shadow: 4px 4px 12px rgba(0,0,0,0.4); 
    background-color: rgb(34, 156, 23);
}
h1 {display: flex;
margin-left: 38%; margin-top: 5%;}
#container{ width: 90%;
     height: 300px; 
     background-color: bisque;
      margin-top: 100px;
       h2{display: flex; justify-content: center;}
       p{margin-left: 100px;}
        
         margin-left:100px ;
        }
        #cont2{
             width: 90%;
     height: 300px; 
     background-color: bisque;
      margin-top: 100px;
      margin-left: 100px;
       h3{display: flex; justify-content: center;}
     color: black;
     font-size: xx-large;
        }
        